body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-start;
}

label {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #111;
}

input:disabled {
  opacity: 0.5;
}

input:invalid {
  border-color: red;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  position: relative;
}

input[type="checkbox"]::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.2rem;
  border: 0.1rem solid #111;
}

input[type="checkbox"]:invalid::after {
  border-color: red;
}
